
@model LockLock.Models.UserModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Model.UserID
            </td>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
            <td>
                @Html.DisplayFor(model => model.Firstname)
            </td>
            <td>
                @Html.DisplayFor(model => model.Lastname)
            </td>
            <td>
                @Html.DisplayFor(model => model.Tel)
            </td>
            <td>
                <a asp-action="updateUser">Update</a>
            </td>
        </tr>

    </tbody>
</table>